/* body{
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */      
 

#data{
  font-size: 15px;
  font-weight: 500;
}
